---
import Layout from '../layouts/Layout.astro';
---


<Layout title="About">

<!-- TOP CONTAINER -->
		<div class="uk-section uk-section-secondary uk-light" >
			<div class="uk-container" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
				<div class="tt-norms" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
					<h1 class="uk-text-primary uk-margin-small-bottom tt-norms-bold" style="font-size: 70px;">About Me.</h1>
					<h3 class="uk-margin-remove-top tt-norms">Data Sheet for <strong>Jude Pickwoad</strong></h3> <br>
				</div>
			</div>			
		</div>
		<div class="uk-section uk-section-secondary uk-padding-remove-top">
			<div class="uk-container tt-norms uk-position-relative">
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Belize</h3>
					<div class="" uk-grid>
						<div class="uk-width-1-1@s uk-width-1-2@m">
							<p>I'm from <strong><a href="https://www.travelbelize.org/">Belize</a></strong>, a country located in the Caribbean. English is the official language of Belize, but most of the population also speaks <strong><a href="https://www.belizeadventure.ca/belizean-creole-kriol/">Creole</a></strong>, and many Belizeans are multilingual.</p>						
						</div>
						<div class="uk-width-1-1@s uk-width-1-2@m about-me-img" style="padding-left: 100px;">
							<img src="/assets/belize.jpeg" width="" alt="">
						</div>
					</div>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Electrical Engineering</h3>	
				<p> 
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni tempora, esse adipisci sunt hic tenetur architecto ad, eum earum dignissimos tempore modi optio? Vitae, voluptates aspernatur. Consequatur neque sint quia.
				</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Thing 2</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, illum, ratione at cupiditate velit molestias eum id, reiciendis praesentium eveniet unde quae exercitationem! Dolorum earum itaque aliquam et, magni unde!
				</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Thing 3</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, illum, ratione at cupiditate velit molestias eum id, reiciendis praesentium eveniet unde quae exercitationem! Dolorum earum itaque aliquam et, magni unde!
				</p>				
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Thing 4</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, illum, ratione at cupiditate velit molestias eum id, reiciendis praesentium eveniet unde quae exercitationem! Dolorum earum itaque aliquam et, magni unde!
				</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> Thing 5</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, illum, ratione at cupiditate velit molestias eum id, reiciendis praesentium eveniet unde quae exercitationem! Dolorum earum itaque aliquam et, magni unde!
				</p>
				<h3 class="tt-norms-bold" style="font-size: 24px;"> My Grind-Mode Playlist</h3>
				<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6ZnMFVV5HDv2xmHG7bn7et?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			</div>

			<div class=" uk-position-medium uk-position-z-index uk-text-center">
				<a data-uk-icon="icon: arrow-right; ratio: 2" style="font-size: 18px; margin-top:4rem;" href="/projects"> Checkout my projects</a>
			</div>
		</div>
	</Layout>