---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <!-- TOP CONTAINER -->
  <div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
      <div
        class="tt-norms"
        data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
      >
        <h1
          class="uk-text-primary uk-margin-small-bottom tt-norms-bold"
          style="font-size: 70px;"
        >
          Projects ⚒️
        </h1>
        <h3 class="uk-margin-remove-top tt-norms">
          Some of the things I've worked on.
        </h3>
        <br />
      </div>
    </div>
  </div>
  <section>
    <div class="uk-container uk-position-relative uk-margin-top">
      <div id="project-cards" class="tt-norms">
        <h3
          class="uk-text-center uk-margin-large-top tt-norms-bold"
          style="font-size: 30px;"
        >
          Category (Academic, Extracurricular etc.) 📚
        </h3>

        <div class="uk-child-width-1-3@m uk-grid-large" uk-grid>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 1
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">April 2024</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a>
                <br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#modal-center"
                  uk-toggle>View</a
                >
                <div id="modal-center" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    <p>
                      Long description with images and links for this project.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 2
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">October 2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a>
                <br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#modal-center"
                  uk-toggle>View</a
                >
                <div id="modal-center" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close>
                    </button>
                    <p>
                      Long description with images and links for this project.
                    </p>
                    <img src="" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 3
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">April 2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a>
                <br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-2"
                  uk-toggle>View</a
                >
                <div id="project-modal-2" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    
                      <p>
                        Long description with images and links for this project.
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 4
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">April 2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a><br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-simplifyle"
                  uk-toggle>View</a
                >
                <div id="project-modal-simplifyle" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    <p>
                      Long description with images and links for this project.
                    </p>
                    <img src="" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 5
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">February 2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a><br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-plotter"
                  uk-toggle>View</a
                >
                <div id="project-modal-plotter" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                      <p>
                        Long description with images and links for this project.
                      </p>
                    <img
                      src=""
                      width="100%"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Project 6
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">March 2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Short description for this project.
                </p>
              </div>
              <div class="uk-card-footer uk-text-center">
                <a
                  href=""
                  class="uk-icon-button"
                  data-uk-icon="github"></a><br /><br />
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-digital-logic"
                  uk-toggle>View</a
                >
                <div
                  id="project-modal-digital-logic"
                  class="uk-flex-top"
                  uk-modal
                >
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                      <p>
                        Long description with images and links for this project.
                      </p>
                    <img
                      src=""
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center uk-dark uk-padding">
          <a
            data-uk-icon="icon: arrow-right; ratio: 2"
            style="font-size: 18px; margin-top:4rem; color: black;"
            href="/resume"
          >
            Checkout my resume</a
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
