---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <!-- TOP CONTAINER -->
  <div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
      <div
        class="tt-norms"
        data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
      >
        <h1
          class="uk-text-primary uk-margin-small-bottom tt-norms-bold"
          style="font-size: 70px;"
        >
          Projects ⚒️
        </h1>
        <h3 class="uk-margin-remove-top tt-norms">
          Some of the things I've worked on.
        </h3>
        <br />
      </div>
    </div>
  </div>
  <section>
    <div class="uk-container uk-position-relative uk-margin-top">
      <div id="project-cards" class="tt-norms">
        <h3
          class="uk-text-center uk-margin-large-top tt-norms-bold"
          style="font-size: 30px;"
        >
          Academic and Extracurricular Projects 📚
        </h3>

        <div class="uk-child-width-1-3@m uk-grid-large" uk-grid>
          <!-- project 1 -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Face ID Smart Lock
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2024</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Electrical Engineering Capstone Project.
                </p>
              </div>
              <div class=" uk-text-center">
                <br>
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#modal-center"
                  uk-toggle>View</a
                >
                <div id="modal-center" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    <p>
                      <strong>Face ID Smart Lock - Electrical Engineering Capstone Project</strong>
                    </p>
                    <p>
                      For my capstone project, I worked with a team of five students: two electrical and three computer engineering students to design and develop a contactless smart lock with facial recognition as its primary security feature. Over two semesters, we researched and developed a solution tailored for homeowners with mobility and dexterity challenges. The lock ensures ease of access without physical keys or PIN codes.
                    </p>
                    <p>
                      As the CAD designer, I was responsible for designing the lock’s outer shell and optimizing it for functionality and aesthetics. I created two alternate designs, and the final prototype was 3D-printed using plastic to test its feasibility. The smart lock used a Raspberry Pi and Raspberry Pi Camera, that provided real-time facial recognition processing. It was designed to be battery-operated, making it wireless and easy to install. Additionally, we developed a web-based companion app that allowed users to manage access remotely, adding an extra layer of convenience. For added security and emergency access, the system also featured a deadbolt lock that could be opened with a physical key.
                    </p>
                    <p>
                      This project was a defining experience in my engineering education, strengthening my skills in hardware integration, CAD modelling, and collaborative problem-solving while applying cutting-edge technology to real-world accessibility challenges.
                    </p>
                    <img src="/assets/projects/capstone-1.png" alt="">
                    <img src="/assets/projects/capstone-2.png" alt="">
                    </div>
                </div>
              </div>
            </div>
          </div>

          <!-- project 2 -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Pet Weather Monoriting System
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2024</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Arduino-based weather monitoring system with a companion phone application. 
                </p>
              </div>
              <div class=" uk-text-center">
                <br>
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#modal-center"
                  uk-toggle>View</a
                >
                <div id="modal-center" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close>
                    </button>
                    <p>
                      <strong>Pet Weather Monoriting System</strong>
                    </p>
                    <p>
                      Newfoundland’s harsh winters and unpredictable weather challenge pet owners, often limiting outdoor activities and posing safety risks. Conventional weather apps provide generalized forecasts that may not account for localized microclimates, making it difficult to determine safe conditions for pet walks. To address this, my partner and I developed a personalized weather data logger that provides real-time, location-specific weather insights tailored to pet owners' needs.
                    </p>
                    <p>
                      The system integrates sensors to measure temperature, humidity, and rainfall, offering pet owners accurate weather data to assess the safety of outdoor conditions. Data logging capabilities allow users to track historical weather patterns, identify optimal walking windows and mitigate risks associated with extreme conditions. Signal processing techniques ensure that sensor readings are accurate and free from noise, enhancing the reliability of the data.
                    </p>
                    <p>
                      Once processed, the weather data is transmitted via Bluetooth to a companion mobile app, allowing pet owners to monitor conditions and easily receive recommendations for pet-friendly outdoor activities. This system not only improves pet safety but also fosters community engagement, enabling owners to share insights and best practices for caring for pets during inclement weather. By leveraging advanced sensor technology and data analytics, this innovative solution empowers pet owners to make informed decisions, ensuring their pets remain active and healthy despite Newfoundland’s challenging climate.
                    </p>
                    <img src="/assets/projects/project-2-1.png" alt="" />
                    <img src="/assets/projects/project-2-2.png" alt="" />
                    <img src="/assets/projects/project-2-3.png" alt="" />
                    <img src="/assets/projects/project-2-4.png" width="200px" alt="" />
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- project -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Metocean Study
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2021</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  The Satellite Imagery Analysis project focused on analysing Newfoundland iceberg data.
                </p>
              </div>
              <div class=" uk-text-center">
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-2"
                  uk-toggle>View</a
                >
                <br>
                <div id="project-modal-2" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    
                      <p>
                        <strong>Metocean Study</strong>
                      </p>
                      <img src="/assets/projects/project-3-1.jpeg" alt="" width="300px" style="display: inline;">
                      <img src="/assets/projects/project-3-2.png" alt="">
                      <p>
                        During my first work term at C-CORE, I contributed to updating the Metocean study, incorporating oceanographic and environmental data recorded from 2017 to 2021. Our team focused on analyzing maritime conditions within the region spanning 39.5°N to 63°N latitude and 42°W to 65°W longitude, covering waters off Canada and Greenland. Using ArcGIS Pro, we processed Sentinel-1 satellite imagery, enabling analysts to review and tabulate data on iceberg distribution, sea ice coverage, and ship density. This project deepened my experience in geospatial data processing and environmental analysis, reinforcing the critical role of remote sensing in ocean monitoring and maritime safety.
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project 4 -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      Snow and Weather Monitoring System
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2022</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  Circuit and 3d model of Arduino-based weather monitoring system.
                </p>
              </div>
              <div class="uk-text-center">
                <br>
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-simplifyle"
                  uk-toggle>View</a
                >
                <div id="project-modal-simplifyle" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    <p>
                      <strong>Snow and Weather Monitoring System</strong>
                    </p>
                    <p>
                      To test and refine my circuit design and CAD skills, I designed a weather measuring system using SketchUp 3D before bringing it to life as a functional prototype. The system integrated temperature, rainfall, and a modified ultrasonic range sensor to measure snow accumulation, providing comprehensive weather data collection. Data was stored locally on an SD card, ensuring reliable logging for later analysis. This project allowed me to apply my expertise in sensor integration, circuit design, and CAD modelling, reinforcing my ability to develop practical, real-world solutions for environmental monitoring.
                    </p>
                    <img src="/assets/projects/project-4-1.png" alt="">
                    <br> <br>
                    <img src="/assets/projects/project-4-2.png" alt="">
                    <p>Side View</p>
                    <img src="/assets/projects/project-4-3.png" alt="">
                    <p>Top View</p>
                    <img src="/assets/projects/project-4-4.png" alt="">
                    <p>Underside View</p>
                    <img src="/assets/projects/project-4-5.png" alt="">
                    <p>Front View</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project 5 -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      BATSUB Renovation Project
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2021</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <p>
                  AutoCAD drawing of Belize Defense Force Base bathroom renovation project.
                </p>
              </div>
              <div class="uk-text-center">
                <br>
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-plotter"
                  uk-toggle>View</a
                >
                <div id="project-modal-plotter" class="uk-flex-top" uk-modal>
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                      <p>
                        <strong>BATSUB Renovation Project</strong>
                      </p>
                      <p>
                        During my work term, I was tasked with creating a detailed floor plan and mapping plumbing lines for the BATSUB (British Army Training and Support Unit Belize) bathroom renovation project. Using AutoCAD, I developed an accurate and comprehensive layout, ensuring that the plumbing system was efficiently designed to meet the facility's needs. During discussions with the client, I identified a recurring issue: excessive dirt being tracked into the facilities and proposed a practical solution by recommending the installation of two outdoor faucets for washing dirty equipment. To better illustrate my recommendation, I used SketchUp 3D to visualize the placement of the faucets within the renovation plan. This project strengthened my technical drafting skills, enhanced my ability to assess client needs, and reinforced the importance of problem-solving through design modifications.
                      </p>
                      <img src="/assets/projects/project-5-1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- project 6 -->
          <div>
            <div
              class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body"
            >
              <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">
                      3D Design Projects
                    </h3>
                    <p class="uk-text-meta uk-margin-remove-top">
                      <time datetime="2016-04-01T19:00">2020</time>
                    </p>
                  </div>
                </div>
              </div>
              <div class="uk-card-body">
                <ul>
                  <li>3D design of a Pinball game using recycled material.</li>
                  <li>3d design of Recycled material water carrying system. </li>
                </ul>
              </div>
              <div class="uk-text-center">
                <br>
                <a
                  class="uk-button uk-button-secondary uk-position-bottom button-border"
                  href="#project-modal-digital-logic"
                  uk-toggle>View</a
                >
                <div
                  id="project-modal-digital-logic"
                  class="uk-flex-top"
                  uk-modal
                >
                  <div
                    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical border"
                    style="width: 1000px;"
                  >
                    <button
                      class="uk-modal-close-default"
                      type="button"
                      uk-close></button>
                    <p>
                      <strong>3D Design Projects</strong>
                    </p>
                    <p>
                      As part of my Engineering 1030 coursework, I worked on two impactful design projects. These projects reinforced my problem-solving skills and introduced me to computer-aided design (CAD) tools like SolidWorks.
                    </p>
                    <p>
                      The first project focused on creating an eco-friendly alternative to traditional tabletop preschool toys. Inspired by a pinball machine, the design emphasized sustainability. It was made from 90% recycled materials, significantly reducing the manufacturing process's carbon footprint. Beyond its environmental benefits, the toy was designed to be interactive and educational, encouraging the development of rotary skills through an engaging, puzzle-like assembly process. This hands-on feature not only enhanced user involvement but also aligned with STEM learning principles, making it both fun and functional.
                    </p>
                    <img
                      src="/assets/projects/project-6-1.png"
                      alt=""
                    />
                    <img
                      src="/assets/projects/project-6-2.png"
                      alt=""
                    />
                    <p>
                      For the second project, my team and I tackled a critical real-world issue: designing a water-carrying system for African isolated communities. After evaluating multiple concepts, we selected a drum cart system, optimizing it for efficiency, durability, and ease of transport. Each component was first modelled in SolidWorks, allowing us to refine the design before assembly. This project was a pivotal moment in my engineering education, as it provided me with practical experience in CAD modelling, collaborative problem-solving, and human-centred design, reinforcing my passion for creating solutions that have a tangible impact.
                    </p>
                    <img src="/assets/projects/project-6-3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center uk-dark uk-padding">
          <a
            data-uk-icon="icon: arrow-right; ratio: 2"
            style="font-size: 18px; margin-top:4rem; color: black;"
            href="/resume"
          >
            Checkout my resume</a
          >
        </div>
      </div>
    </div>
  </section>
</Layout>
