---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
	<!-- TOP CONTAINER -->
	<div class="uk-section uk-section-secondary uk-light">
		<div
			class="uk-container"
			data-uk-parallax="y: 0,50; easing:0; opacity:0.2"
		>
			<div
				class="tt-norms"
				data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
			>
				<h1
					class="uk-text-primary uk-margin-small-bottom tt-norms-bold"
					style="font-size: 70px;"
				>
					My Resumé and Certificates.
				</h1>
				<h3 class="uk-margin-remove-top tt-norms">
					Reach out to me via my contact methods . <strong
						><a href="/assets/Resume_2025.pdf">View</a>
					</strong>, or <strong
						><a href="/assets/Resume_2025.pdf">download</a>
					</strong> the resume.
				</h3>
				<br />
			</div>
		</div>
	</div>
	<div class="uk-section uk-section-secondary uk-light uk-padding-remove-top">
		<div class="uk-container tt-norms">
			<div style="font-size: 18px;">
				<img src="/assets/jude-resume.jpg" alt="" />
			</div>
			<h3 class="tt-norms-bold" style="font-size: 24px;">Certificates</h3>
				<p><strong>Swipe to see more images!</strong></p>
				<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true" >

					<div class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid certificates">
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-1.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-2.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-3.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-4.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-5.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-6.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-7.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
						<div class="uk-width-1-2">
							<img src="/assets/certificates/certificate-8.jpg">
							<div class="uk-position-center uk-panel"><h1></h1></div>
						</div>
					</div>
				
					<a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
					<a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
				
				</div>
		</div>
	</div>
</Layout>
